.import-form {
    display: flex;
    padding: 2em 1em;
    gap: 2rem;
    flex-direction: column;
    background-color: var(--blue);
    box-shadow: 2px 2px 10px 0 hsl(0deg 0% 0% / 40%);
}

.import-form label {
    position: relative;
    font-size: 18px;
    line-height: 30px;
}

.import-form label input:not(#submit-button):not(#csv-file) {
    border: 1px solid hsl(0, 0%, 0%);
}

.import-form label input {
    min-width: 200px;
    min-height: 30px;
    font-size: 20px;
}

.import-form label.invalid-field::after {
    content: 'Field can only contain alphanumeric value';
    position: absolute;
    display: block;
    font-size: 18px;
    color: var(--invalid);
}

.import-form #date::-webkit-calendar-picker-indicator, .import-form #submit-button {
    cursor: pointer;
}

.import-form #submit-button {
    width: 170px;
    height: 34px;
    font-size: 20px;
    background-color: var(--dark-blue);
    color: #fff;
    align-self: center;
}