.results-wrapper {
    display: flex;
    padding: 2em 3em 3em;
    flex-direction: column;
    background-color: var(--blue);
    box-shadow: 2px 2px 10px 0 hsl(0deg 0% 0% / 40%);
}

.results-wrapper h2 + p {
    margin: 0;
}

.results-wrapper h3 {
    margin: 2rem 0 0;
}

.results-wrapper table,
.results-wrapper th,
.results-wrapper td {
    border: 1px solid;
}

.results-wrapper .results-table .results-row td,
.results-wrapper .results-table .results-row th {
    padding: 0.2em 0.6em;
}

.results-wrapper .results-table .results-row:first-child td {
    font-weight: 600;
}

.results-wrapper .results-table .results-row td[contenteditable="true"] {
    background-color: #fff;
}

.results-wrapper .results-table .results-row .result-edit-button {
    width: 80px;
    height: 25px;
    font-size: 16px;
    background-color: var(--dark-blue);
    color: #fff;
    align-self: center;
} 

a.button {
    padding: 0.5em 1em;
    border: 1px solid #000;
    color: #fff;
    align-self: center;
    text-decoration: none;
}

a.save-button {
    margin-top: 2rem;
    font-size: 18px;
    background-color: var(--dark-blue);
}

a.back-button {
    margin-top: 1rem;
    font-size: 14px;
    background-color: var(--grey);
}

#edit-request-submit, #result-id {
    display: none;
}